body {
    line-height: 25px;
    list-style-type: none;
    font-size: 23px;
    margin: 50px;
    background-color: rgb(201, 201, 201);
}

.container {
    background-color: #8B8982;
    border: 1px solid #fff;
}
  
.navs {
    background-color: #373F47;
    padding: 1px;
    border: 1px solid #fff;
}
  
ul li {
    list-style-type: none;
}
  

#brand {
  color: #fff;
  position: absolute;
  font-size: 40px;
  padding: 0px 5px;
  text-decoration: none;
  margin-top: -20px;
}

.navbrand {
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 5px;
  line-height: 2px;
  font-size: 16px;
}

header {
    height: 650px;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.4);
    border-radius: 5px;
}

img {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
    width: 20%;
    border-radius: 50%;
}

.course {
    top: 15%;
    position: absolute;
    width: 70%;
    left: 25%;
    overflow: auto;
}

.taught {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
    position: absolute;
    bottom: 15%;
}

.each {
    color: #fff; 
    left: 0;
    margin: 30px;
} 

/* @media (max-width: 1700px) {
    .header {
        height: 500px;
    }
    img {
        width: 20%;
    }
    .course {
        top: 10%;
        font-size: 20px;
        line-height: 20px;
        max-width: 1000px;
    }
    .taught {
        position: relative;
        top: 10%;
    }
    .each {
        margin: 15px;
        font-size: 20px;
    }
}

@media (max-width: 1406px) {
    .navbrand {
        top: 8%;
        font-size: 16px;
    }
    .navs {
        height: 70px;
    }
    .header {
        height: 450px;
    }
    img {
        width: 20%;
    }
    .course {
        top: 12%;
        font-size: 16px;
        line-height: 20px;
        max-width: 700px;
    }
    .taught {
        position: relative;
        top: 17%;
    }
    .each {
        margin: 13px;
        font-size: 16px;
    }
}

  @media (max-width: 1024px) {
    .navbrand {
        top: 1%;
        font-size: 10px;
    }
    .navs {
        height: 60px;
    }
    .header {
        height: 400px;
    }
    img {
        width: 20%;
    }
    .course {
        top: 10%;
        font-size: 15px;
        line-height: 20px;
        max-width: 550px;
    }
    .taught {
        position: relative;
        top: 19%;
    }
    .each {
        margin: 10px;
    }
}


@media (max-width: 866px) {
    .navbrand {
        top: 1%;
        font-size: 10px;
    }
    .navs {
        height: 60px;
    }
    .header {
        height: 350px;
    }
    img {
        width: 20%;
    }
    .course {
        top: 11%;
        font-size: 13px;
        line-height: 16px;
        max-width: 450px;
    }
    .taught {
        position: relative;
        top: 25%;
    }
    .each {
        font-size: 14px;
        margin: 6px;
    }
}


@media (max-width: 768px) {
    .navbrand {
        top: 1%;
        font-size: 10px;
    }
    .navs {
        height: 60px;
    }
    .header {
        height: 350px;
    }
    img {
        width: 20%;
    }
    .course {
        top: 10%;
        font-size: 13px;
        line-height: 16px;
        max-width: 450px;
    }
    .taught {
        position: relative;
        top: 26%;
    }
    .each {
        font-size: 14px;
        margin: 6px;
    }
} */